# Copier ce fichier vers .env et adapter les valeurs

# Chemin vers la base SQLite
DATABASE_URL="file:./prisma/dev.db"

# Secret Next.js - CHANGEZ EN PRODUCTION (générez avec: openssl rand -base64 32)
NEXTAUTH_SECRET="bdc-secret-key-change-in-production-2024"

# URL de l'application
NEXTAUTH_URL="http://localhost:3000"
